body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 30%;
    display: flex;
    flex-direction: row;
}


/* SHARED CLASSES */

.text-horizontal-line {
    width: 10%;
    background-color: #db4f4f;
}

.header-text {
    font-weight: bolder;
    font-size: 2.4rem;
    line-height: 1rem;
}

.auxiliary-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1rem;
    color: rgb(13, 49, 83);
    max-width: 70%;
}

.fade-in {
    opacity: 0;
    transition: opacity 1400ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}


/* HERO  */

.hero-container {
    background-image: url(assets/hero-section/hero-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-transform: uppercase;
}

.hero__nav {
    position: fixed;
    height: 7vh;
    padding: 1em 1.5em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
    font-weight: bold;
}

.nav-scrolled {
    color: rgb(255, 255, 255);
    background: #000000;
    box-shadow: 0 3px 20px rgba(black, 0.2);
}

.nav__logo--text {
    width: 15%;
    font-size: 30px;
    font-weight: bolder;
}

.nav__text {
    font-size: 19px;
    font-family: 'Roleway';
}

.hero__second-section {
    width: 86%;
    padding-top: 2%;
    gap: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nav__hamburguer--menu {
    display: none;
}

.hero__header--text {
    padding-top: 10%;
    width: 45%;
    font-size: 56px;
    font-weight: bolder;
    color: white;
    transition: 0.3s;
}

.hero__header--text:hover {
    transform: scale(1.13);
}

.second-section-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 70px;
}

hr {
    width: 52%;
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15%;
}

.hero-auxiliary-text {
    font-size: 1.5rem;
    width: 22%;
    font-weight: bolder;
}

.hero-header-text {
    font-size: 3rem;
    width: 15%;
    font-weight: bolder;
}

@media (max-width: 1300px) {
    hr {
        width: 73%;
    }
    .hero-auxiliary-text {
        width: 40%;
    }
    .hero__second-section {
        width: 75%;
    }
    .hero__header--text {
        width: 60%;
    }
    .hero-text-container {
        gap: 18%;
    }
}

@media (max-width: 1200px) {
    .hero__nav {
        display: none;
    }
    .nav__hamburguer--menu {
        display: flex;
        justify-content: space-between;
    }
    .hamburger-menu-icon {
        padding: 3% 10% 0 0;
        width: 5%;
    }
    .nav__logo--text {
        padding: 5% 0 0 12%;
    }
}

@media (max-width: 1000px) {
    hr {
        width: 70%;
    }
    .hero-header-text {
        padding-left: 5%;
        width: 8%;
        font-size: 2.5rem;
    }
    .hero-auxiliary-text {
        width: 35%;
        font-size: 1.3rem;
    }
    .hero-text-container {
        gap: 30%;
    }
}

@media (max-width: 800px) {
    hr {
        width: 85%;
    }
    .hero-text-container {
        gap: 45%;
    }
    .hero__header--text {
        font-size: 42px;
        width: 80%;
    }
    .hero-header-text {
        font-size: 2rem;
    }
    .hero-auxiliary-text {
        width: 35%;
        font-size: 1.2rem;
    }
    .nav__hamburguer--menu {
        padding-bottom: 20%;
    }
}

@media (max-width: 450px) {
    .hero-container {
        height: 80vh;
    }
    hr {
        width: 95%;
    }
    .hero__header--text {
        padding-left: 20%;
        width: 100%;
        font-size: 32px;
    }
    .hero__header--text:hover {
        display: none;
    }
    .hero-header-text {
        font-size: 1.3rem;
    }
    .hero-auxiliary-text {
        width: 100%;
        font-size: 0.8rem;
    }
    .second-section-container {
        gap: 10%;
    }
    .hero-text-container {
        gap: 35%;
    }
    .nav__logo--text {
        padding-left: 7%;
        font-size: 22px;
    }
    .hamburger-menu-icon {
        width: 8%;
    }
}

@media (max-width: 390px) {
    .hero-container {
        height: 95vh;
    }
}


/* NOSSOS SERVIÇOS */

.our-services {
    margin-bottom: 8%;
}

.our-services-container {
    gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.our-service-grid-container {
    display: flex;
    flex-direction: row;
    margin: 2% 0 0 5%;
    gap: 2%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    width: 30%;
    gap: 20px;
}

.card-header-text {
    font-size: 1.1rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    max-width: 70%;
}

.card-complementary-text {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 85%;
    margin-bottom: 5%;
}

.our-services-icon {
    margin-top: 5%;
    width: 15%;
    height: auto;
}

@media (max-width: 1268px) {
    .card-complementary-text {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .our-service-grid-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 15px 0 60px 0;
    }
    .card {
        width: 90%;
        margin: 0 15px 0 15px;
        gap: 20px;
    }
    .our-services-container {
        margin-top: 60px;
        gap: 25px;
    }
}


/* NOSSOS PROJETOS */

::-webkit-scrollbar {
    height: 7px;
    width: 10px;
    background: rgb(216, 208, 208);
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgb(0, 0, 0);
    border-radius: 50px;
}

.our-projects-container {
    overflow-x: scroll;
    margin: 0 5% 5% 15%;
    height: 90vh;
    display: flex;
    gap: 150px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
}

.image-hover-container {
    position: relative;
    width: 550px;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 38%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.our-projects-container__images {
    height: 88%;
    object-fit: cover;
    transition: 0.5s ease;
}

.link-text-container {
    display: flex;
    gap: 33%;
}

.first-image {
    position: relative;
}

.our-projects-link-text:hover {
    text-decoration: underline;
}

.our-projects-container__images:hover {
    opacity: 0.8;
    transform: scale(1.06);
}

.image-hover-container:hover .middle {
    opacity: 1;
}

.image-text {
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 80px;
    font-weight: bolder;
    background-color: #3945e9;
    font-size: 20px;
    color: #fff;
    border: none;
}


/* PADOLABS */

.text-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-66 {
    width: 20%;
    align-self: flex-end;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    padding: 11px 24px;
    min-height: 44px;
    min-width: 44px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.button-text {
    font-weight: bolder;
}

.button-66:hover {
    background-color: rgb(232, 23, 201);
    color: rgb(240, 239, 239);
    transform: translateY(-2px);
    border: #202223;
}

.padolabs {
    background-color: black;
    color: white;
}

.padolabs-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    column-gap: 50px;
}

.padolabs-header-text {
    font-size: 40px;
    font-weight: bolder;
}

.padolabs-logo {
    width: 15%;
    height: 5%;
    align-self: center;
}

.padolabs-image {
    width: 100%;
    height: auto;
}

.padolabs-icon-text-container {
    margin-bottom: 5%;
    display: flex;
    gap: 15%;
    font-size: 25px;
    text-align: end;
}

@media (max-width: 1268px) {
    .padolabs-logo {
        width: 25%;
    }
    .button-66 {
        width: 35%;
    }
}

@media (max-width: 1000px) {
    .padolabs-icon-text-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .padolabs-auxiliary-text {
        font-size: 1.2rem;
        text-align: center;
    }
    .text-button-container {
        gap: 10px;
    }
    .button-66 {
        align-self: center;
    }
    .padolabs-logo {
        margin-top: 5%;
        width: 30%;
    }
    .padolabs-image:hover {
        transform: scale(1.5);
    }
}

@media (max-width: 500px) {
    .padolabs-logo {
        margin-top: 15%;
        width: 45%;
    }
}


/* HAUSENN */

.hausenn-auxiliary-text {
    text-align: center;
}

.header-auxiliary-text-margin {
    margin-bottom: 5%;
    text-align: center;
}

.header-text {
    font-size: 3rem;
}

.auxiliary-text {
    font-size: 1.3rem;
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
    width: 20%;
}

.know-more-header {
    color: black;
    font-weight: bolder;
    font-size: 1.3rem;
    text-decoration: none;
}

.img {
    width: 100%;
    height: auto;
}

@media (max-width: 1100px) {
    .text-container {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    .text-container {
        width: 60%;
    }
    .images-container {
        flex-direction: column;
        gap: 85px;
    }
    .header-text {
        font-size: 1.8rem;
    }
    .auxiliary-text {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .images-container {
        margin-bottom: 10%;
        margin-top: 45px;
    }
    .text-container {
        text-align: center;
    }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
    .img {
        width: 70%;
    }
}


/* SOBRE NÓS */

.about-us-container {
    margin-top: 2%;
    height: 80vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}

.header-text-about-us {
    padding-top: 20px;
}

.iframe {
    width: 70%;
    height: 60%;
}

.about-us-main-text {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 65%;
}

@media (max-width: 1000px) {
    .about-us-main-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .about-us-main-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 300px) {
    .about-us-container {
        height: 13%;
    }
    .about-us-main-text {
        text-align: left;
        font-size: 0.9rem;
    }
}


/* TRABALHE CONOSCO */

.work-with-us-header-text {
    font-weight: bolder;
    font-size: 35px;
}

.work-with-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-with-us-text-container {
    display: flex;
    justify-content: center;
    gap: 7%;
    padding-bottom: 3%;
}

.work-with-us-auxiliary-text {
    text-align: center;
    width: 20%;
}

.work-with-us-link-text {
    color: black;
    font-weight: bolder;
}

@media (max-width: 1268px) {
    .work-with-us-text-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .work-with-us-header-text {
        width: 60;
        font-size: 30px;
    }
    .work-with-us-auxiliary-text {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .work-with-us-header-text {
        padding-top: 25px;
        font-size: 20px;
    }
    .work-with-us-link-text {
        font-size: 12px;
    }
    .work-with-us-auxiliary-text {
        width: 70%;
        font-size: 14px;
    }
    .work-with-us-text-container {
        padding-bottom: 50px;
    }
}


/* FOOTER */

.footer-container {
    background-color: #f2f2f2;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 250px;
}

.footer-first-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 1% 0 0 15%;
}

.pado-logo {
    width: 40%;
    height: auto;
}

.address-text {
    display: flex;
    flex-direction: column;
}

.social-media-logos {
    width: 100%;
}

.social-media-icons {
    margin-bottom: 2%;
    display: flex;
    gap: 15px;
}

.footer-second-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

.contact-us-text {
    font-size: 25px;
    font-weight: bolder;
}

.sections-text {
    display: flex;
    gap: 20%;
}

.copyright-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media (max-width: 1268px) {
    .contact-us-text {
        font-size: 18px;
    }
    .sections-text {
        font-size: 14px;
    }
    .address-text {
        font-size: 14px;
    }
    .social-media-logos {
        width: 70%;
    }
    .pado-logo {
        width: 45%;
    }
    .padolabs-text {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .contact-us-text {
        font-size: 16px;
    }
    .sections-text {
        font-size: 12px;
    }
    .address-text {
        font-size: 12px;
    }
    .pado-logo {
        width: 65%;
    }
    .padolabs-text {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .contact-us-text {
        width: 100%;
        font-size: 15px;
        margin-top: 12px;
    }
    .sections-text {
        font-size: 12px;
    }
    .address-text {
        font-size: 12px;
    }
    .pado-logo {
        width: 100%;
    }
    .padolabs-text {
        font-size: 12px;
    }
    .footer-first-section {
        margin-bottom: 4%;
        margin-left: 5%;
        width: 40%;
    }
    .footer-second-section {
        width: 40%;
    }
    .footer-container {
        gap: 7%;
    }
    .copyright-text {
        font-size: 11px;
    }
}